
.table__card {
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3%;
    margin-left: 10%;
}
.order__table{
    width: 50%;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
}
thead {
    border-bottom: 1px solid #ddd;
}

tr {
    /* display: table-row;
    border-spacing: 0; */
    text-align: center;
    margin: 100px;
}

button {
    cursor:pointer; 
}
.number{
    margin:100px;
}
.minus, .plus{
    width: 20%;
    height:auto;
    text-decoration: none;
    background:#585a5c;
    border: none;
    color: #ffffff;
    padding:8px 5px 8px 5px;
    /* border:1px solid #ddd; */
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
input{
	height:34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}			
